@model IEnumerable<MascotaViewModel>

@{
    ViewData["Title"] = "PuppyBond";
}

<div class="container">

    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
            <!--TODO: AJUSTAR TAMANYO IMAGEN-->
            @{ bool activeAssigned = false; }
            @foreach (var item in Model)
            {
                <div class="carousel-item @(!activeAssigned ? "active" : "")" id="@item.Id">
                    <img src="/Images/Mascotas/@(item.Id + ".png")" alt="Imagen de @item.Name" class="d-block w-100">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>@item.Name</h5>
                        <p>@item.Descripcion</p>
                    </div>
                </div>
                activeAssigned = true;
            }
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!-- Carrusel de perros -->
    <div class="text-center">
        <div class="d-flex justify-content-center align-items-center">
            <div class="dog-card mx-3">

                <!-- Iconos de acción -->
                <div class="actions d-flex justify-content-around" style="margin: 10px;">
                    <button onclick="mostrarMensaje('No has iniciado sesión', 'Inicia sesión o crea una cuenta para continuar.', 'info');" class="btn btn-outline-danger" aria-label="Eliminar">❌</button>
                    <button onclick="mostrarMensaje('No has iniciado sesión', 'Inicia sesión o crea una cuenta para continuar.', 'info');" class="btn btn-outline-primary" aria-label="Adoptar">🐾</button>
                    <button onclick="mostrarMensaje('No has iniciado sesión', 'Inicia sesión o crea una cuenta para continuar.', 'info');" class="btn btn-outline-info" aria-label="Información">ℹ</button>
                </div>
            </div>
        </div>
    </div>
</div>
